Repository plotskog32/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python

Python: Add a few tests for crypto frameworks
  python/ql/test/experimental/library-tests/frameworks/crypto/ConceptsTest.expected
  python/ql/test/experimental/library-tests/frameworks/crypto/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/crypto/test_dsa.py
  python/ql/test/experimental/library-tests/frameworks/crypto/test_ec.py
  python/ql/test/experimental/library-tests/frameworks/crypto/test_rsa.py
  python/ql/test/experimental/library-tests/frameworks/cryptodome/ConceptsTest.expected
  python/ql/test/experimental/library-tests/frameworks/cryptodome/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/cryptodome/test_dsa.py
  python/ql/test/experimental/library-tests/frameworks/cryptodome/test_ec.py
  python/ql/test/experimental/library-tests/frameworks/cryptodome/test_rsa.py
  python/ql/test/experimental/library-tests/frameworks/cryptography/ConceptsTest.expected
  python/ql/test/experimental/library-tests/frameworks/cryptography/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/cryptography/test_dsa.py
  python/ql/test/experimental/library-tests/frameworks/cryptography/test_ec.py
  python/ql/test/experimental/library-tests/frameworks/cryptography/test_rsa.py
Owners: @github/codeql-python

Actions: Address comments on change note CI check
  .github/workflows/check-change-note.yml
Owners: none

Python: Add concepts for public-key generation
  python/ql/src/semmle/python/Concepts.qll
  python/ql/test/experimental/meta/ConceptsTest.qll
Owners: @github/codeql-python

Python: Add missing annotations to new crypto tests
  python/ql/test/experimental/library-tests/frameworks/crypto/test_dsa.py
  python/ql/test/experimental/library-tests/frameworks/crypto/test_ec.py
  python/ql/test/experimental/library-tests/frameworks/crypto/test_rsa.py
  python/ql/test/experimental/library-tests/frameworks/cryptodome/test_dsa.py
  python/ql/test/experimental/library-tests/frameworks/cryptodome/test_ec.py
  python/ql/test/experimental/library-tests/frameworks/cryptodome/test_rsa.py
  python/ql/test/experimental/library-tests/frameworks/cryptography/test_dsa.py
  python/ql/test/experimental/library-tests/frameworks/cryptography/test_ec.py
  python/ql/test/experimental/library-tests/frameworks/cryptography/test_rsa.py
Owners: @github/codeql-python

Python: Add modeling for `pycryptodomex` PyPI package
  python/ql/src/semmle/python/Frameworks.qll
  python/ql/src/semmle/python/frameworks/Cryptodome.qll
  python/ql/test/experimental/library-tests/frameworks/cryptodome/test_dsa.py
  python/ql/test/experimental/library-tests/frameworks/cryptodome/test_ec.py
  python/ql/test/experimental/library-tests/frameworks/cryptodome/test_rsa.py
Owners: @github/codeql-python

Python: Add modeling for `cryptography` PyPI package
  python/ql/src/semmle/python/Frameworks.qll
  python/ql/src/semmle/python/frameworks/Cryptography.qll
  python/ql/test/experimental/library-tests/frameworks/cryptography/test_dsa.py
  python/ql/test/experimental/library-tests/frameworks/cryptography/test_ec.py
  python/ql/test/experimental/library-tests/frameworks/cryptography/test_rsa.py
Owners: @github/codeql-python

Python: Add modeling for `pycryptodome` PyPI package
  python/ql/src/semmle/python/frameworks/Cryptodome.qll
  python/ql/test/experimental/library-tests/frameworks/crypto/test_dsa.py
  python/ql/test/experimental/library-tests/frameworks/crypto/test_ec.py
  python/ql/test/experimental/library-tests/frameworks/crypto/test_rsa.py
Owners: @github/codeql-python

Python: Rewrite py/weak-crypto-key tests
  python/ql/test/query-tests/Security/CWE-326/WeakCrypto.expected
  python/ql/test/query-tests/Security/CWE-326/weak_crypto.py
Owners: @github/codeql-python

C++: Implement models for poll, accept and select.
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Accept.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Poll.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Select.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/bsd.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Owners: @github/codeql-c-analysis

Emphasize that telemetry is disabled by default
  docs/codeql/codeql-for-visual-studio-code/about-telemetry-in-codeql-for-visual-studio-code.rst
Owners: none

Python: Port py/weak-crypto-key to use type-tracking
  python/change-notes/2021-02-02-port-weak-crypto-key-query.md
  python/ql/src/Security/CWE-326/WeakCrypto.ql
  python/ql/src/experimental/Security-old-dataflow/CWE-326/WeakCrypto.ql
  python/ql/src/semmle/python/frameworks/Cryptography.qll
  python/ql/test/query-tests/Security/CWE-326/options
Owners: @github/codeql-python

Python: Rename WeakCrypto to WeakCryptoKey
  python/change-notes/2021-02-02-port-weak-crypto-key-query.md
  python/ql/src/Security/CWE-326/WeakCryptoKey.qhelp
  python/ql/src/Security/CWE-326/WeakCryptoKey.ql
  python/ql/test/query-tests/Security/CWE-326/WeakCrypto.qlref
  python/ql/test/query-tests/Security/CWE-326/WeakCryptoKey.expected
  python/ql/test/query-tests/Security/CWE-326/WeakCryptoKey.qlref
Owners: @github/codeql-python

Python: Use camelCase for RSA/DSA/ECC
  python/ql/src/semmle/python/Concepts.qll
  python/ql/src/semmle/python/frameworks/Cryptodome.qll
  python/ql/src/semmle/python/frameworks/Cryptography.qll
Owners: @github/codeql-python

Python: Fix bad join in crypto models
  python/ql/src/semmle/python/frameworks/Cryptography.qll
Owners: @github/codeql-python

Python: Add test of public_key method with cryptodome
  python/ql/test/experimental/library-tests/frameworks/crypto/test_rsa.py
  python/ql/test/experimental/library-tests/frameworks/cryptodome/test_rsa.py
Owners: @github/codeql-python

Python: Port cryptography models to use API graphs (mostly)
  python/ql/src/semmle/python/frameworks/Cryptography.qll
Owners: @github/codeql-python

Python: Port cryptodome models to use API graphs
  python/ql/src/semmle/python/frameworks/Cryptodome.qll
Owners: @github/codeql-python

Python: Add weak crypto key example through function call
  python/ql/test/query-tests/Security/CWE-326/weak_crypto.py
Owners: @github/codeql-python

Python: Make KeyGeneration range member overrides final
  python/ql/src/semmle/python/Concepts.qll
Owners: @github/codeql-python

Python: Better IntegerLiteral tracking for weak crypto key
  python/ql/src/semmle/python/Concepts.qll
  python/ql/test/query-tests/Security/CWE-326/WeakCryptoKey.expected
Owners: @github/codeql-python

Python: Add example of test-code with weak crypto key
  python/ql/test/query-tests/Security/CWE-326/WeakCryptoKey.expected
  python/ql/test/query-tests/Security/CWE-326/test_example.py
  python/ql/test/query-tests/Security/CWE-326/weak_crypto.py
Owners: @github/codeql-python

Python: Ignore weak key-sizes from test-code in weak-crypto-key
  python/ql/src/Security/CWE-326/WeakCryptoKey.ql
  python/ql/test/query-tests/Security/CWE-326/WeakCryptoKey.expected
Owners: @github/codeql-python

C++: Don't generate WriteSideEffect instructions for const parameter indirections.
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @github/codeql-c-analysis

Python: Introduce DataFlowOnlyInternalUse to avoid re-evaluation
  config/identical-files.json
  python/ql/src/semmle/python/Concepts.qll
  python/ql/src/semmle/python/dataflow/new/DataFlowOnlyInternalUse.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImplOnlyInternalUse.qll
Owners: @github/codeql-python

C++: Add CWE-676 tag.
  cpp/ql/src/Security/CWE/CWE-676/DangerousFunctionOverflow.ql
Owners: @github/codeql-c-analysis

C++: Accept more test changes.
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
Owners: @github/codeql-c-analysis

Limit C# codeql analysis to the csharp folder
  .github/workflows/codeql-analysis.yml
Owners: none

JS: Model vue-router
  javascript/change-notes/2021-02-16-vue-router.md
  javascript/ql/src/semmle/javascript/frameworks/Vue.qll
  javascript/ql/test/library-tests/frameworks/Vue/compont-with-route.vue
  javascript/ql/test/library-tests/frameworks/Vue/router.js
  javascript/ql/test/library-tests/frameworks/Vue/tests.expected
  javascript/ql/test/library-tests/frameworks/Vue/tests.ql
Owners: @github/codeql-javascript

Actions: Peg external actions to specific SHAs
  .github/workflows/check-change-note.yml
Owners: none

C++: Address review comments.
  cpp/ql/src/semmle/code/cpp/models/implementations/Accept.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Poll.qll
Owners: @github/codeql-c-analysis

change TypeInference related join-order in module-import predicates
  javascript/ql/src/semmle/javascript/AMD.qll
  javascript/ql/src/semmle/javascript/NodeJS.qll
Owners: @github/codeql-javascript

cache getType
  javascript/ql/src/semmle/javascript/dataflow/TypeInference.qll
Owners: @github/codeql-javascript

JS: Restrict names of extracted HTML attributes
  javascript/extractor/src/com/semmle/js/extractor/HTMLExtractor.java
Owners: @github/codeql-javascript

Add query for enterprise beans
  java/ql/src/experimental/Security/CWE/CWE-489/EJBMain.ql
  java/ql/src/experimental/Security/CWE/CWE-489/ServletMain.qhelp
  java/ql/test/experimental/query-tests/security/CWE-489/ServiceBean.expected
  java/ql/test/experimental/query-tests/security/CWE-489/ServiceBean.java
  java/ql/test/experimental/query-tests/security/CWE-489/ServiceBean.qlref
  java/ql/test/experimental/query-tests/security/CWE-489/options
  java/ql/test/stubs/ejb-3.2/javax/ejb/CreateException.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/EJB.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/EJBContext.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/EJBException.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/EJBHome.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/EJBLocalHome.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/EJBLocalObject.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/EJBMetaData.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/EJBObject.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/EnterpriseBean.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/EntityBean.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/Handle.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/Handler.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/HomeHandle.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/Remote.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/RemoveException.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/SessionBean.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/SessionContext.java
  java/ql/test/stubs/ejb-3.2/javax/transaction/UserTransaction.java
Owners: @github/codeql-java

Add query for Struts and Spring actions
  java/ql/src/experimental/Security/CWE/CWE-489/ServletMain.ql
Owners: @github/codeql-java

Better sink in SandboxedJexlFlowConfig
  java/ql/src/experimental/Security/CWE/CWE-094/JexlInjection.ql
  java/ql/src/experimental/Security/CWE/CWE-094/JexlInjectionLib.qll
  java/ql/test/experimental/query-tests/security/CWE-094/JexlInjection.expected
Owners: @github/codeql-java

Switch from sanitizer to tainttracking, formatting and qldoc changes
  java/ql/src/Security/CWE/CWE-346/UnvalidatedCors.java
  java/ql/src/Security/CWE/CWE-346/UnvalidatedCors.qhelp
  java/ql/src/Security/CWE/CWE-346/UnvalidatedCors.ql
  java/ql/test/query-tests/security/CWE-346/UnvalidatedCors.expected
Owners: @github/codeql-java

Python: test iteration through overflow parameters These are in a tuple, so the for-step does not fire
  python/ql/test/experimental/dataflow/coverage/dataflow.expected
  python/ql/test/experimental/dataflow/coverage/test.py
Owners: @github/codeql-python

Python: Fix for-iteration of tuples
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/test/experimental/dataflow/coverage/dataflow.expected
  python/ql/test/experimental/dataflow/coverage/test.py
Owners: @github/codeql-python

Python: elide test output
  python/ql/test/experimental/dataflow/coverage/dataflow.expected
Owners: @github/codeql-python

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python
