Repository plotskog32/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python

Actions: Remove dependence on external actions
  .github/workflows/check-change-note.yml
Owners: none

C++: Remove `hasTaintFlow` from poll and select functions.
  cpp/ql/src/semmle/code/cpp/models/implementations/Poll.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Select.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/bsd.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Owners: @github/codeql-c-analysis

JS: Add test
  javascript/ql/test/query-tests/DOM/HTML/DuplicateAttributes.html
Owners: @github/codeql-javascript

Actions: More cleanup
  .github/workflows/check-change-note.yml
Owners: none

Update javascript/ql/test/query-tests/DOM/HTML/DuplicateAttributes.html
  javascript/ql/test/query-tests/DOM/HTML/DuplicateAttributes.html
Owners: @github/codeql-javascript

Python: Highlight missing flow from default value in functions
  python/ql/test/experimental/dataflow/coverage/test.py
Owners: @github/codeql-python

Update qldoc and method name
  java/ql/src/experimental/Security/CWE/CWE-489/EJBMain.ql
  java/ql/src/experimental/Security/CWE/CWE-489/WebComponentMain.ql
  java/ql/test/experimental/query-tests/security/CWE-489/ServletMain.qlref
Owners: @github/codeql-java

Update supported go frameworks
  docs/codeql/support/reusables/frameworks.rst
Owners: none

Fix typo in test output
  java/ql/test/query-tests/security/CWE-1104/semmle/tests/MavenPomDependsOnBintray.expected
Owners: @github/codeql-java

C++: filter operands of removed IR instructions
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  csharp/ql/src/experimental/ir/implementation/raw/Operand.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Operand.qll
Owners: @github/codeql-c-analysis, @github/codeql-csharp

rearange `ArrayIndexingStep` to avoid #shared predicate
  javascript/ql/src/semmle/javascript/Arrays.qll
Owners: @github/codeql-javascript

cache AstNode::getParent
  javascript/ql/src/semmle/javascript/AST.qll
Owners: @github/codeql-javascript

make `globalVarRef` non recursive
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/library-tests/Nodes/globalObjectRef.expected
  javascript/ql/test/library-tests/Nodes/globalVarRef.expected
Owners: @github/codeql-javascript

remove magic from `inGuard`
  javascript/ql/src/semmle/javascript/dataflow/Refinements.qll
Owners: @github/codeql-javascript

outline callee computation - to avoid many joins on getACall
  javascript/ql/src/semmle/javascript/frameworks/PropertyProjection.qll
Owners: @github/codeql-javascript

change join order for summarizedHigherOrderCall
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Owners: @github/codeql-javascript

change join order for SystemCommandExecutors - and use ApiGraphs::getACall
  javascript/ql/src/semmle/javascript/frameworks/SystemCommandExecutors.qll
Owners: @github/codeql-javascript

C#: Use shared SSA implementation for `PreSsa`
  config/identical-files.json
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/PreBasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/PreSsa.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/pressa/SsaImplCommon.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/pressa/SsaImplSpecific.qll
  csharp/ql/test/library-tests/dataflow/ssa/PreSsaConsistency.ql
Owners: @github/codeql-csharp

C#: Use shared SSA implementation for `BaseSsa`
  config/identical-files.json
  csharp/ql/src/semmle/code/csharp/dataflow/internal/BaseSSA.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/Steps.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/basessa/SsaImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/basessa/SsaImplSpecific.qll
  csharp/ql/src/semmle/code/csharp/dispatch/Dispatch.qll
  csharp/ql/test/library-tests/dataflow/ssa/BaseSsaConsistency.ql
Owners: @github/codeql-csharp

C#: Fix bug in `BaseSSA::reachesEndOf/3`
  csharp/ql/src/semmle/code/csharp/dataflow/internal/BaseSSA.qll
Owners: @github/codeql-csharp

JS: Refactor Vue::Instance to lead to better join orders
  javascript/ql/src/semmle/javascript/frameworks/Vue.qll
Owners: @github/codeql-javascript

Python: Add comment for MethodView being known subclass
  python/ql/src/semmle/python/frameworks/Flask.qll
Owners: @github/codeql-python

Python: Add INTERNAL annotation to Response::InstanceSource
  python/ql/src/semmle/python/frameworks/Flask.qll
Owners: @github/codeql-python

Python: Apply suggestions from code review
  python/change-notes/2021-02-10-yaml-more-loading-functions.md
Owners: @github/codeql-python

Python: Apply suggestions from code review
  python/change-notes/2021-02-02-port-weak-crypto-key-query.md
Owners: @github/codeql-python

Java: Model flow source for apache http requests, Model flow steps for associated getters
  java/ql/src/semmle/code/java/dataflow/FlowSteps.qll
  java/ql/src/semmle/code/java/frameworks/ApacheHttp.qll
Owners: @github/codeql-java

Add support for httpcomponents 5.x
  java/ql/src/semmle/code/java/frameworks/ApacheHttp.qll
Owners: @github/codeql-java

Java: Add HttpRequestHandler as a remote flow source
  java/ql/src/semmle/code/java/dataflow/FlowSources.qll
  java/ql/src/semmle/code/java/frameworks/ApacheHttp.qll
Owners: @github/codeql-java

Model XSS sinks and utility methods
  java/ql/src/semmle/code/java/frameworks/ApacheHttp.qll
  java/ql/src/semmle/code/java/security/XSS.qll
Owners: @github/codeql-java

Add unit tests
  java/ql/src/semmle/code/java/frameworks/ApacheHttp.qll
  java/ql/test/library-tests/frameworks/apache-http/A.java
  java/ql/test/library-tests/frameworks/apache-http/flow.expected
  java/ql/test/library-tests/frameworks/apache-http/flow.ql
  java/ql/test/library-tests/frameworks/apache-http/options
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/HttpResponse.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/entity/AbstractHttpEntity.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/entity/ByteArrayEntity.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/entity/ContentType.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/entity/StringEntity.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/protocol/HttpContext.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/protocol/HttpRequestHandler.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/util/EntityUtils.java
Owners: @github/codeql-java

Add unit tests for version 5.x
  java/ql/src/semmle/code/java/frameworks/ApacheHttp.qll
  java/ql/test/library-tests/frameworks/apache-http/A.java
  java/ql/test/library-tests/frameworks/apache-http/B.java
  java/ql/test/library-tests/frameworks/apache-http/flow.expected
  java/ql/test/library-tests/frameworks/apache-http/options
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/function/Supplier.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/ClassicHttpRequest.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/ClassicHttpResponse.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/ContentType.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/EntityDetails.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/Header.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/HttpEntity.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/HttpEntityContainer.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/HttpException.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/HttpMessage.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/HttpRequest.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/HttpResponse.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/MessageHeaders.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/NameValuePair.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/ParseException.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/ProtocolException.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/ProtocolVersion.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/io/HttpRequestHandler.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/io/entity/AbstractHttpEntity.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/io/entity/ByteArrayEntity.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/io/entity/ByteBufferEntity.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/io/entity/EntityUtils.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/io/entity/HttpEntities.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/io/entity/StringEntity.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/message/BasicHeader.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/message/RequestLine.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/protocol/HttpContext.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/io/IOCallback.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/net/URIAuthority.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/util/Args.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/util/ByteArrayBuffer.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/util/CharArrayBuffer.java
Owners: @github/codeql-java

Add unit tests for utility methods
  java/ql/src/semmle/code/java/frameworks/ApacheHttp.qll
  java/ql/test/library-tests/frameworks/apache-http/A.java
  java/ql/test/library-tests/frameworks/apache-http/flow.expected
  java/ql/test/library-tests/frameworks/apache-http/flow.ql
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/message/BasicHeader.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/util/Args.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/util/ByteArrayBuffer.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/util/ByteBuffer.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/util/CharArrayBuffer.java
Owners: @github/codeql-java

Add change note
  java/change-notes/2021-02-17-apache-http.md
Owners: @github/codeql-java

Switch to inline test expectations; fix failing test outputs
  java/ql/src/semmle/code/java/frameworks/ApacheHttp.qll
  java/ql/test/library-tests/frameworks/apache-http/A.java
  java/ql/test/library-tests/frameworks/apache-http/B.java
  java/ql/test/library-tests/frameworks/apache-http/flow.expected
  java/ql/test/library-tests/frameworks/apache-http/flow.ql
Owners: @github/codeql-java

Add open redirect sinks
  java/ql/src/semmle/code/java/frameworks/ApacheHttp.qll
  java/ql/src/semmle/code/java/security/UrlRedirect.qll
Owners: @github/codeql-java

Remove TODO comment
  java/ql/src/semmle/code/java/frameworks/ApacheHttp.qll
Owners: @github/codeql-java

Create a separate file for EJB check
  java/ql/src/experimental/Security/CWE/CWE-489/EJBMain.java
  java/ql/src/experimental/Security/CWE/CWE-489/EJBMain.qhelp
  java/ql/src/experimental/Security/CWE/CWE-489/WebComponentMain.java
  java/ql/src/experimental/Security/CWE/CWE-489/WebComponentMain.qhelp
Owners: @github/codeql-java

Update test program
  java/ql/src/experimental/Security/CWE/CWE-489/EJBMain.java
Owners: @github/codeql-java

Python: Expand bind-to-all-interfaces tests slightly
  python/ql/test/query-tests/Security/CVE-2018-1281/BindToAllInterfaces.expected
  python/ql/test/query-tests/Security/CVE-2018-1281/BindToAllInterfaces_test.py
Owners: @github/codeql-python

Python: Port bind-to-all-interfaces to type-tracking
  python/change-notes/2021-02-23-port-bind-to-all-interfaces.md
  python/ql/src/Security/CVE-2018-1281/BindToAllInterfaces.ql
  python/ql/src/experimental/Security-old-dataflow/CVE-2018-1281/BindToAllInterfaces.ql
  python/ql/test/query-tests/Security/CVE-2018-1281/BindToAllInterfaces.expected
Owners: @github/codeql-python

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python
