Repository plotskog32/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

Resolve ambiguous method access
  java/ql/src/experimental/Security/CWE/CWE-598/SensitiveGetQuery.ql
  java/ql/src/semmle/code/java/frameworks/Servlets.qll
Owners: @github/codeql-java

Add additional unit tests
  java/ql/test/library-tests/frameworks/apache-http/B.java
  java/ql/test/stubs/apache-http-5/org/apache/hc/core5/http/io/HttpServerRequestHandler.java
Owners: @github/codeql-java

Python: Port insecure default protocol - use API graphs - update .qlhelp-file - limit to versions below 3.4 - move tests to its own directory to only test on old version
  python/ql/src/Security/CWE-327/InsecureDefaultProtocol.qhelp
  python/ql/src/Security/CWE-327/InsecureDefaultProtocol.ql
  python/ql/test/query-tests/Security/CWE-327/py2/InsecureDefaultProtocol.expected
  python/ql/test/query-tests/Security/CWE-327/py2/InsecureDefaultProtocol.qlref
  python/ql/test/query-tests/Security/CWE-327/py2/InsecureProtocol.py
  python/ql/test/query-tests/Security/CWE-327/py2/options
Owners: @github/codeql-python

Python: add change note
  python/change-notes/2021-02-23-port-insecure-default-protocol.md
Owners: @github/codeql-python

Python: Port `py/insecure-temporary-file`
  python/ql/src/Security/CWE-377/InsecureTemporaryFile.ql
Owners: @github/codeql-python

C++: QLDoc.
  cpp/ql/src/semmle/code/cpp/models/implementations/Pure.qll
Owners: @github/codeql-c-analysis

Python: Port URL sanitisation queries to API graphs
  python/ql/src/semmle/python/regex.qll
  python/ql/test/library-tests/regex/Mode.expected
  python/ql/test/library-tests/regex/Qualified.ql
  python/ql/test/library-tests/regex/test.py
Owners: @github/codeql-python

Python: Port missing host key query
  python/ql/src/Security/CWE-295/MissingHostKeyValidation.ql
Owners: @github/codeql-python

Python: Clean up query a bit
  python/ql/src/Security/CWE-295/MissingHostKeyValidation.ql
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
Owners: @github/codeql-python

Python: Import API graphs privately
  python/ql/src/semmle/python/regex.qll
Owners: @github/codeql-python

update TypeScript to 4.2
  javascript/extractor/lib/typescript/package.json
  javascript/extractor/lib/typescript/yarn.lock
Owners: @github/codeql-javascript

add support for rest types elements in the middle of a tuple
  javascript/extractor/lib/typescript/src/type_table.ts
  javascript/extractor/src/com/semmle/ts/extractor/TypeExtractor.java
  javascript/ql/src/semmle/javascript/TypeScript.qll
  javascript/ql/test/library-tests/TypeScript/Types/middle-rest.ts
  javascript/ql/test/library-tests/TypeScript/Types/tests.expected
  javascript/upgrades/930898a4fe07cb48de46800904922ca118b31e50/old.dbscheme
  javascript/upgrades/930898a4fe07cb48de46800904922ca118b31e50/semmlecode.javascript.dbscheme
  javascript/upgrades/930898a4fe07cb48de46800904922ca118b31e50/tuple_type_rest_index.ql
  javascript/upgrades/930898a4fe07cb48de46800904922ca118b31e50/upgrade.properties
Owners: @github/codeql-javascript

fix file lookup for exclude patterns
  javascript/extractor/src/com/semmle/js/extractor/Main.java
Owners: @github/codeql-javascript

add test for union types
  javascript/ql/test/library-tests/TypeScript/Types/tests.expected
  javascript/ql/test/library-tests/TypeScript/Types/tests.ql
Owners: @github/codeql-javascript

support abstract signatures
  javascript/extractor/lib/typescript/src/type_table.ts
  javascript/extractor/src/com/semmle/ts/extractor/TypeExtractor.java
  javascript/ql/src/semmle/javascript/TypeScript.qll
  javascript/ql/src/semmlecode.javascript.dbscheme
  javascript/ql/test/library-tests/TypeScript/Types/tests.expected
  javascript/ql/test/library-tests/TypeScript/Types/tests.ql
  javascript/ql/test/library-tests/TypeScript/Types/tst.ts
  javascript/upgrades/930898a4fe07cb48de46800904922ca118b31e50/is_abstract_signature.ql
  javascript/upgrades/930898a4fe07cb48de46800904922ca118b31e50/semmlecode.javascript.dbscheme
  javascript/upgrades/930898a4fe07cb48de46800904922ca118b31e50/upgrade.properties
Owners: @github/codeql-javascript

add change note
  javascript/change-notes/2021-02-18-typescript-4.2.md
Owners: @github/codeql-javascript

add tests for nested type unions through aliases
  javascript/ql/test/library-tests/TypeScript/Types/tests.expected
  javascript/ql/test/library-tests/TypeScript/Types/tst.ts
Owners: @github/codeql-javascript

bump extractor version
  javascript/extractor/src/com/semmle/js/extractor/Main.java
Owners: @github/codeql-javascript

Python: Remove options for InsecureTemporaryFile tests
  python/ql/test/query-tests/Security/CWE-377/options
Owners: @github/codeql-python

Python: Split CWE-295 tests
  python/ql/test/query-tests/Security/CWE-295-MissingHostKeyValidation/MissingHostKeyValidation.expected
  python/ql/test/query-tests/Security/CWE-295-MissingHostKeyValidation/MissingHostKeyValidation.qlref
  python/ql/test/query-tests/Security/CWE-295-MissingHostKeyValidation/paramiko_host_key.py
  python/ql/test/query-tests/Security/CWE-295-RequestWithoutValidation/RequestWithoutValidation.expected
  python/ql/test/query-tests/Security/CWE-295-RequestWithoutValidation/RequestWithoutValidation.qlref
  python/ql/test/query-tests/Security/CWE-295-RequestWithoutValidation/make_request.py
  python/ql/test/query-tests/Security/CWE-295-RequestWithoutValidation/options
Owners: @github/codeql-python

Python: Accept RequestWithoutValidation expected output change
  python/ql/test/query-tests/Security/CWE-295-RequestWithoutValidation/RequestWithoutValidation.expected
Owners: @github/codeql-python

Python: Add deprecation notice to `mode_from_mode_object`
  python/ql/src/semmle/python/regex.qll
Owners: @github/codeql-python

Python: Use source nodes and prevent bad join order
  python/ql/src/semmle/python/regex.qll
Owners: @github/codeql-python

Python: Use explicit argument specification instead of getAnArg
  python/ql/src/Security/CWE-295/MissingHostKeyValidation.ql
Owners: @github/codeql-python

Python: Decrease import depth in regex tests
  python/ql/test/library-tests/regex/Qualified.ql
  python/ql/test/library-tests/regex/options
Owners: @github/codeql-python

C++: 'side-effect free'.
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Pure.qll
  javascript/ql/src/semmle/javascript/Expr.qll
Owners: @github/codeql-c-analysis, @github/codeql-javascript

update expected output
  javascript/ql/test/library-tests/TypeScript/Nullability/Types.expected
  javascript/ql/test/library-tests/TypeScript/TypeAliases/TypeAliases.expected
Owners: @github/codeql-javascript

update printAst expected output
  javascript/ql/test/library-tests/TypeScript/Types/printAst.expected
Owners: @github/codeql-javascript

C#: Fix merge conflict (with + refactoring)
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/WithExpression.cs
Owners: @github/codeql-csharp

JS: Tweak ExprNode
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
Owners: @github/codeql-javascript

change stats file
  javascript/ql/src/semmlecode.javascript.dbscheme.stats
Owners: @github/codeql-javascript

Revert "Python: Accept RequestWithoutValidation expected output change"
  python/ql/test/query-tests/Security/CWE-295-RequestWithoutValidation/RequestWithoutValidation.expected
Owners: @github/codeql-python

Python: Get rid of superfluous `options` file
  python/ql/test/library-tests/regex/options
Owners: @github/codeql-python

Python: Expand py/flask-debug tests a bit
  python/ql/test/query-tests/Security/CWE-215/FlaskDebug.expected
  python/ql/test/query-tests/Security/CWE-215/settings.py
  python/ql/test/query-tests/Security/CWE-215/test.py
Owners: @github/codeql-python

Python: Port py/flask-debug
  python/change-notes/2021-02-24-port-flask-debug.md
  python/ql/src/Security/CWE-215/FlaskDebug.ql
Owners: @github/codeql-python
