Repository plotskog32/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Exclude help for experimental queries from docs review
/cpp/**/experimental/**/*.qhelp @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/*.qhelp @github/codeql-csharp @xcorail
/java/**/experimental/**/*.qhelp @github/codeql-java @xcorail
/javascript/**/experimental/**/*.qhelp @github/codeql-javascript @xcorail
/python/**/experimental/**/*.qhelp @github/codeql-python @xcorail

Remove commented code
  csharp/extractor/Semmle.Extraction/Context.cs
Owners: @github/codeql-csharp

Extend base context in CIL project
  csharp/extractor/Semmle.Extraction.CIL/Context.Factories.cs
  csharp/extractor/Semmle.Extraction.CIL/Context.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Assembly.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Attribute.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Base/LabelledEntity.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Base/Tuple.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Base/UnlabelledEntity.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/CustomAttributeDecoder.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/File.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Instruction.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/PdbSourceFile.cs
Owners: @github/codeql-csharp

C++: Turns out we're in 2021 and not 2020.
  cpp/change-notes/2021-02-04-unsigned-difference-expression-compared-zero.md
Owners: @github/codeql-c-analysis

Add release notes
  java/change-notes/2021-02-23-deprecated-jcenter-bintray.md
Owners: @github/codeql-java

replace forex with unique in DOM.qll
  javascript/ql/src/semmle/javascript/DOM.qll
Owners: @github/codeql-javascript

Switch to CSV based modelling
  java/ql/src/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/semmle/code/java/dataflow/FlowSources.qll
  java/ql/src/semmle/code/java/dataflow/FlowSteps.qll
  java/ql/src/semmle/code/java/frameworks/ApacheHttp.qll
  java/ql/src/semmle/code/java/security/XSS.qll
Owners: @github/codeql-java

use Expr instead of mising DataFlow-nodes and Exprs in charpred
  javascript/ql/src/semmle/javascript/MembershipCandidates.qll
Owners: @github/codeql-javascript

cache Module::getAnExportedValue
  javascript/ql/src/semmle/javascript/Modules.qll
Owners: @github/codeql-javascript

remove redundant hasLocationInfo
  javascript/ql/src/semmle/javascript/SSA.qll
Owners: @github/codeql-javascript

C++: Promote memset query out of experimental.
  cpp/ql/src/Security/CWE/CWE-014/MemsetMayBeDeleted-bad.c
  cpp/ql/src/Security/CWE/CWE-014/MemsetMayBeDeleted-good.c
  cpp/ql/src/Security/CWE/CWE-014/MemsetMayBeDeleted.qhelp
  cpp/ql/src/Security/CWE/CWE-014/MemsetMayBeDeleted.ql
  cpp/ql/src/experimental/Security/CWE/CWE-14/CompilerRemovalOfCodeToClearBuffers.c
  cpp/ql/src/experimental/Security/CWE/CWE-14/CompilerRemovalOfCodeToClearBuffers.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-14/CompilerRemovalOfCodeToClearBuffers.ql
Owners: @github/codeql-c-analysis, @xcorail

C++: Add change-note.
  cpp/change-notes/2021-02-24-memset-may-be-deleted.md
Owners: @github/codeql-c-analysis

C++: Move tests out of experimental and merge with old existing tests from the other memset PRs.
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-14/semmle/tests/CompilerRemovalOfCodeToClearBuffers.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-14/semmle/tests/CompilerRemovalOfCodeToClearBuffers.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-14/semmle/tests/test.c
  cpp/ql/test/query-tests/Security/CWE/CWE-014/MemsetMayBeDeleted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-014/MemsetMayBeDeleted.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-014/test.c
  cpp/ql/test/query-tests/Security/CWE/CWE-014/test.cpp
Owners: @github/codeql-c-analysis

use getALocalSource instead of smallstep in JQuery::legacyObjectSource
  javascript/ql/src/semmle/javascript/frameworks/jQuery.qll
Owners: @github/codeql-javascript

and pragmas to prevent bad join in RemoteFlowSource
  javascript/ql/src/semmle/javascript/security/dataflow/DOM.qll
Owners: @github/codeql-javascript

use pragma[only_bind_into] to prevent bad join in Ssa::hasLocationInfo
  javascript/ql/src/semmle/javascript/SSA.qll
Owners: @github/codeql-javascript

prevent join between `getAValue()` and `DefiniteAbstractValue` in AMD.qll
  javascript/ql/src/semmle/javascript/AMD.qll
Owners: @github/codeql-javascript

Refactor the check of a main method in a test program to improve maintainability
  java/ql/src/experimental/Security/CWE/CWE-489/EJBMain.ql
  java/ql/src/experimental/Security/CWE/CWE-489/MainLib.qll
  java/ql/src/experimental/Security/CWE/CWE-489/WebComponentMain.ql
Owners: @github/codeql-java
